body {
    padding-top: 80px;
}

.show-cart li {
    display: flex;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
}

.navbar .container .row .col {
    display: flex;
    justify-content: flex-start;
}

.button {
    background-color: black;
    /* Change the background color */
    border-color: #ff0000;
    /* Change the border color */
    color: #ffffff;
    /* Change the text color */
}